/*------------------------------ GLOBAL ------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    background-color: rgb(200, 200, 200);
    min-width: 800px;
}

.header {
    display: flex;
    justify-content: center;
    margin-top: 5rem;

}
